@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 4rem;
  --footer-height: 3rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
